.bar{
    background-color:rgb(255, 255, 255);
    box-shadow: 1px  1px 1px rgb(193, 224, 255);
    width: 1510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
top: 0;

}
.bar p:hover{
    cursor: pointer;

}
.bar p{
    color: rgb(83, 83, 83);
}








.navimg{
    width:200px ;
}
.bar input{
    margin-top:10px;
    width: 200px;
    height:35px;
    border-radius: 10px;
    border: 1 px solid black;
}
.bar button{
    background-color: white;
    margin-top:10px;
    width: 150px;
    height:50px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content:center;
align-items: center;
    border: 1 px solid black;
}
.bar button:hover{
cursor: pointer;
}
.bar img:hover{
    cursor: pointer;
}
.bar button img{
    width: 30px;
}
.but{
    border: none;
    background-color: white;

}
.but button:hover{ 
background-color: rgb(172, 172, 172);
border-radius: 40px;
cursor: pointer;

}
.blue{
    padding-left: 40px;
    left: 0;
    padding-top: 5px;
    height: 90px;
    color: white;
    margin-top: 60px;
    width: 1469px;
    background-color:rgb(0, 114, 190);
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgbody p{
font-size: 30px;
margin-left: 50px;
/* margin-top:100px ; */
}
.imgbody h1{
    margin-left: 50px;
    font-size: 80px;
}
.bond{
    justify-content: space-between;
    display: flex;
}
.bond img{
    margin-right: 40px;
    width: 500px;
    object-fit: contain;
}
main{
background-color: #f5f6f7;
height: 350px;
display: flex;
padding: 50px 80px;
gap: 100px;
}

.main-1 a{
    font-size: 40px;
    text-decoration: none;
    color: black;
    
}

.main-1 a:hover{
    border-bottom: 5px solid black;
}

.main-1 p{
    line-height: 25px;
    padding: 30px 0px;
    font-size: 18px;
    font-weight: 500;
}

.anch{
    padding-left: 170px;
    margin-top: 40px;
    
    
}

.anch :hover{
    background-color: blue;
    color: #ffff;
}

.anch a{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid blue;
    padding: 10px 50px;
    border-radius: 40px;
    margin-right: 20px;
    color: blue;
    
}

.main-2 img{
    height: 250px;
    width: 400px;
    border-radius: 35px;
}

.section-1{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    
}

.section-1a{
    background-color: #f5f6f7;
    width: 420px;
    height: 625px;
     padding: 50px 30px;
     border-radius: 15px;
     

}

.section-1a p{
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
     margin-bottom: 70px;
}

.section-1a img{
    width: 355px;
    margin-bottom: 30px;
    
}

.section-1b{
    background-color: #f5f6f7;
    width: 420px;
    height: 625px;
     padding: 50px 30px;
     border-radius: 15px;
}
.section-1b p{
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
     margin-bottom: 70px;
}

.section-1b img{
    width: 355px;
    margin-bottom: 30px;
}

.section-1c{
   background-color: #f5f6f7;
    width: 420px;
    height: 625px;
     padding: 50px 30px;
     border-radius: 15px;
}
.section-1c p{
    font-size: 18px;
    margin-top:30px;
    line-height: 30px;
    margin-bottom: 70px;
}

.section-1c img{
    width: 355px;
    margin-bottom: 30px;
}


.ai{
    text-decoration: none;
    font-size: 25px;
    color: black;
    
}

.learn{
    padding:  10px 50px;
    text-decoration: none;
    color: blue;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 30px;
}

.learn1:hover{
background-color: whitesmoke;
}
.section-2{
    background-color: #f5f6f7 ;
    padding: 40px 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.files{
    display: flex;
    gap: 25px;
}

.two-a{
    background-color: white;
    width: 420px;
    height: 450px;
    padding: 50px 30px;
     border-radius: 15px;
     text-align: center;
     margin-top: 50px;
     
}

.imggg{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 154px;
    margin-bottom: 10px;

}

.ai{
    color: blue;
    
    
    
}

.paraga{
    margin-bottom: 50px;
    font-size: 19px;
}


.aj{
    color: black;
    padding-left: 90px;
}

.center{
    text-align: center;
}

.learn2{
    margin-left: 100px;
}

.section-4{
    margin-top: 60px;
}